name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-ci
  cancel-in-progress: true

env:
  VALKEY_HOSTNAME: valkey
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ["swift:6.1", "swift:6.2"]
    container:
      image: ${{ matrix.image }}
    services:
      valkey:
        image: valkey/valkey:latest
        ports:
          - 6379:6379
        options: --entrypoint valkey-server
    steps:
      - name: Install jemalloc
        run: |
          apt-get update
          apt-get install -y libjemalloc-dev
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test
        run: |
          swift test --enable-code-coverage
      - name: Convert coverage files
        run: |
          llvm-cov export -format="lcov" \
            .build/debug/valkey-swiftPackageTests.xctest \
            -ignore-filename-regex="\/Tests\/" \
            -instr-profile .build/debug/codecov/default.profdata > info.lcov
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v4
        with:
          files: info.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
